# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# VS Code
.vscode/

# MacOS
.DS_Store

# Jupyter runtime
*.log
